@namespace MudGantt
@using Microsoft.JSInterop
@using MudBlazor
@implements IAsyncDisposable
@inject IJSRuntime jsRuntime

<div class="mud-gannt-container">
    <div id="@Id" class="@CssClass" style="@Style">
    
    </div>

    @if (TaskContextMenu is not null)
    {
        <div popover id="@PopoverId">
            @if (_contextTask is not null)
            {
                <MudMenu @bind-Open="_menuOpen">@TaskContextMenu(_contextTask)</MudMenu>
            }
        </div>
    }
</div>